# ==============================

# Python

# ==============================

**pycache**/
*.pyc
*.pyo
*.pyd
*.so

# ==============================

# Virtual Environments

# ==============================

venv/
env/
.venv/
conda-env/
*.env

# ==============================

# Jupyter Notebooks

# ==============================

.ipynb_checkpoints/

# ==============================

# Logs

# ==============================

logs/
*.log

# ==============================

# Dataset (VERY IMPORTANT)

# ==============================

datasets/
data/*.zip
data/*.tar
data/*.gz

# ==============================

# Model Weights (DO NOT PUSH)

# ==============================

*.pt
*.pth
*.onnx
*.engine

# ==============================

# Experiments / Training Outputs

# ==============================

runs/
experiments/
results/
wandb/

# ==============================

# OS Files

# ==============================

.DS_Store
Thumbs.db

# ==============================

# IDE / Editor

# ==============================

.vscode/
.idea/

# ==============================

# Temporary Files

# ==============================

*.tmp
*.cache

# ==============================

# TensorBoard

# ==============================

events.out.tfevents.*

# ==============================

# Misc

# ==============================

*.bak
*.swp

# Predictions
predictions*.json
